<div class="panel panel-default">
    <div class="panel-heading">
       <h3 class="panel-title">Can You Take The Heat?</h3>
    </div>
    <div class="panel-body">
        <center>
            <a href="#" onclick="setContent('Static/JoinUs', 'page_JoinUs');">
                <img src="images/Logo.png" alt="Logo" class="img-responsive">
            </a>
        </center>
        <br />
        <p>
            &emsp;&emsp;The Canonsburg Volunteer Fire Department welcomes new members. Anyone interested in learning more about membership is invited 
            to visit the department between the hours of <span class="important_text">7:00 p.m. and 9:00 p.m.</span> on any <span class="important_text">Monday</span> evening <span class="important_text">except</span> the first Monday of each month.
        </p>
    </div>
</div>

<div class="panel panel-default">
     <div class="panel-heading">
        <h3 class="panel-title">Updates</h3>
     </div>
     <div class="panel-body">
     <h4 class="mc_subhead_2 mc_redvariant">September, 2016</h4>
     <h4 class="mc_subhead_1">All-New Website Launched!</h3>
        <p>
            <br />&emsp;&emsp;The Canonsburg Volunteer Fire Department has been hard at work on the development of their all-new website and are proud to announce its launch. <br /> 
            <br />&emsp;&emsp;The site is designed to give the public a more in-depth look at Canonsburg's fire fighters and their involvement in the community, it includes a history of the department and a photo gallery. <br /> 
            <br />&emsp;&emsp;Because the department is actively looking for new members, they also invite potential candidates to learn more about the organization online, and to find out how to join. Also included is a link to the Facbook page which the department shares with the Houston V.F.D.
        </p>
     </div>
</div>