<div class="panel panel-default">
     <div class="panel-heading">
        <h3 class="panel-title">News</h3>
     </div>
     <div class="fb-page" data-href="https://www.facebook.com/Canonsburg-VFD-430237543843449/" data-tabs="timeline" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Canonsburg-VFD-430237543843449/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Canonsburg-VFD-430237543843449/">Canonsburg VFD</a></blockquote></div>
     <div class="panel-footer">
         <a href="https://www.facebook.com/Canonsburg-VFD-430237543843449/" target="_blank">< More</a>
     </div>
</div>

<div class="panel panel-default">
     <div class="panel-heading">
        <h3 class="panel-title">Share this Page</h3>
     </div>
     <div class="panel-body social">
        <center>
            <ul>
                <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php"><i class="fa fa-lg fa-facebook"></i></a></li>
                <li><a target="_blank" href="https://twitter.com/share"><i class="fa fa-lg fa-twitter"></i></a></li>
                <li><a target="_blank" href="https://plus.google.com/share?url={{URL}}"><i class="fa fa-lg fa-google-plus"></i></a></li>
            </ul>
        </center>
     </div>
</div>

<div class="panel panel-default">
     <div class="panel-heading">
        <h3 class="panel-title">Follow us on</h3>
     </div>
     <div class="panel-body social">
        <center>
            <ul>
                <li><a target="_blank" href="https://www.facebook.com/Canonsburg-VFD-430237543843449/"><i class="fa fa-lg fa-facebook"></i></a></li>
            </ul>
        </center>
     </div>
</div>