{% autoescape true %}
<div class="panel panel-default">
     <div class="panel-heading">
        <h3 class="panel-title">Apparatus</h3>
     </div>
     <div class="panel-body">
        <h4 class="mc_subhead_2 mc_redvariant">The Fleet That Helps Us Serve You</h4>
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <a href="images/Rescue-69-1987-Ford-E-One.jpg" title="Rescue 69 1987 Ford E-One" data-gallery>
                    <img src="images/Rescue-69-1987-Ford-E-One.jpg" alt="Rescue 69 1987 Ford E-One" class="img-responsive img-thumbnail"/>
                </a>
                <p class="img_subtitle">Rescue 69 1987 Ford E-One</p>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <a href="images/Tower-69-2011-Peirce-Arrow-XT.jpg" title="Tower 69 2011 Peirce Arrow XT" data-gallery>
                    <img src="images/Tower-69-2011-Peirce-Arrow-XT.jpg" alt="Tower 69 2011 Peirce Arrow XT" class="img-responsive img-thumbnail"/>
                </a>
                <p class="img_subtitle">Tower 69 2011 Peirce Arrow XT</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <a href="images/Engine-69-2-1991-Sutphen.jpg" title="Engine 69-2 1991 Sutphen" data-gallery>
                    <img src="images/Engine-69-2-1991-Sutphen.jpg" alt="Engine 69-2 1991 Sutphen" class="img-responsive img-thumbnail"/>
                </a>
                <p class="img_subtitle">Engine 69-2 1991 Sutphen</p>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <a href="images/Engine-69-3-2008-Pierce-Quantum.jpg" title="Engine 69-3 2008 Pierce Quantum" data-gallery>
                    <img src="images/Engine-69-3-2008-Pierce-Quantum.jpg" alt="Engine 69-3 2008 Pierce Quantum" class="img-responsive img-thumbnail"/>
                </a>
                <p class="img_subtitle">Engine 69-3 2008 Pierce Quantum</p>
            </div>
        </div>
     </div>
</div>
{% endautoescape %}