{% autoescape true %}
<div class="panel panel-default">
     <div class="panel-heading">
        <h3 class="panel-title">Community Involvement</h3>
     </div>
     <div class="panel-body">
        <center>
            <a href="images/hd-Canonsburg-Fire-Department-Community.jpg" data-gallery>
                <img src="images/hd-Canonsburg-Fire-Department-Community.jpg" alt="Logo" class="img-responsive img-thumbnail"><br />
            </a>
        </center>
        <h4 class="mc_subhead_2 mc_redvariant">We Care About Our Community</h4>
        <p>
            &emsp;&emsp;We are heavily involved in the local community. In partnership with the North Strabane Fire Department, we visit various schools within the 
            Canon-McMillan School District to educate students in grades K-5th on fire prevention. We also offer tours of the fire hall and open our doors several 
            times a year for field trips by local daycares and scouting groups.<br /><br />
            
            &emsp;&emsp;A question that often comes up in the community is car seat inspections, which we do not do on site, but residents can call the Canonsburg Police 
            Department at <a href="tel:{{POLICE_PHONE_RAW}}"><u>{{POLICE_PHONE_READABLE}}</u></a> to schedule an inspection.<br /><br />
            
            We work hand-in-hand with local media to spread awareness and education and report on incidents and emergencies.<br /><br />
        </p>
     </div>
</div>

{% endautoescape %}