{% autoescape true %}
<center>
    <a href="images/hd-Fire-Prevention.jpg" data-gallery>
        <img src="images/hd-Fire-Prevention.jpg" alt="Logo" class="img-responsive img-thumbnail">
    </a>
</center><br />
<div class="panel panel-default">
     <div class="panel-heading">
        <h3 class="panel-title">Fire Prevention</h3>
     </div>
     <div class="panel-body">
        <h4 class="mc_subhead_4">Awareness is the First Step Towards Being Safe</h4>
        <p>
            We encourage our residents to educate themselves on fire prevention. The first step is making sure 
            you have working smoke alarms on each floor of your home, as well as develop a fire escape route that has been mapped out,
            practiced, and discussed with all family members. Test your smoke alarms often and keep batteries fresh.<br /><br />
            
            It’s also vital to discuss fire hazards like smoking, playing with matches, leaving on a gas stove, 
            a candle, or a portable heater with those living in your home. Call 9-1-1 in case of a fire and exit the home immediately.<br/> <br/>
        </p>
        <h4 class="mc_subhead_1">Tips To Remember:</h3>
        <ul>
            <li>Stop, Drop and Roll if you find your clothes have caught fire</li>
            <li>Crawl low to the ground if smoke is filling up the premises</li>
            <li>If you are trapped in a room, put a wet towel under the door, if possible, to stop the smoke from entering and call 9-1-1</li>
            <li>Only use a fire extinguisher if you have been trained to do so, for small fires that have not produced any smoke and call 9-1-1</li>
        </ul>
        <p>
            Along with smoke alarms, we suggest carbon monoxide detectors, as well. Carbon monoxide has no smell or taste and can fill your home
            quickly with dangerous levels of gas. If these alarms go off, get outside immediately and call 9-1-1.<br /><br />
            
            For more facts on fire prevention, please visit <a href="https://www.nfpa.org/public-education/resources/safety-tip-sheets" target="_blank">www.nfpa.org</a>
        </p>
     </div>
</div>
{% endautoescape %}