{% autoescape true %}
<center>
    <a href="images/hd-Canonsburg-Fire-Department-History.jpg" data-gallery>
        <img src="images/hd-Canonsburg-Fire-Department-History.jpg" alt="Logo" class="img-responsive img-thumbnail">
    </a>
</center><br />
<div class="panel panel-default">
     <div class="panel-heading">
        <h3 class="panel-title">History</h3>
     </div>
     <div class="panel-body">
        <h4 class="mc_subhead_4">A Long History of Keeping Canonsburg Safe</h4>
        <p>
            The history of Canonsburg’s esteemed Volunteer Fire Department dates back to 1836, over 50 years after the borough was founded by John Canon.
            From the beginning, vying for the needs of the department to the borough council were often met with adversity.<br /><br />
            
            The first fire engine was built by an engineer for Philadelphia’s Hibernia Fire Company. Unfortunately, the borough’s steep hills
            and icy streets resulted in a consistent demand for repairs over the next several years. In 1833, council authorized a 40-member volunteer fire company
            that also included two ladders and two fire hooks. Every household was required to have a fire bucket.<br /><br />
            
            In 1872, the Hibernia was sold and a new fire company was organized. More ladders were purchased and a soda-acid fire extinguisher
            was added to the department. Unfortunately, major fires like the one in 1881 at the milling company still were put out by men rushing into
            grocery stores and taking buckets to be filled with water at the site.<br /><br />
            
            Throughout the next two decades, despite more equipment, including 24 rubber buckets and a gong, the company disbanded in 1890 leaving any fire to
            chance – and whoever happened to be around at the time to roll the ladder cart to a fire and recruit others to organize a bucket brigade.<br /><br />
            
            The turn of the century morphed Canonsburg into an industrial town with a growing population. The year 1898 saw one of the most damaging fires, ignited by a knocked over
            lamp at the barbershop where a group of men were drinking and gambling, destroying about a third of Canonsburg’s business district. The department simply could not handle
            the blaze and a special train from Pittsburgh had to bring up equipment from Engine Company 3 to help douse the flames. Council had voted to buy a chemical engine prior to
            the fire, but it had obviously not been implemented fast enough. Although council said the engine required a fire company, it wouldn’t be until the end of 1900 when a proper
            volunteer fire department was again up and running.<br /><br />
            
            1902 would bring fire hydrants to the borough and during the next few decades, the fire department would both parade and protect Canonsburg. Eventually the force grew
            to three fire companies and both Canonsburg’s North Side and South Canonsburg were included.<br /><br />
            
            Council kept quite a bit of control on the department during this time and trucks were to go no faster than 35 miles per hour on the way to a fire.
            In 1927, a new firehouse was completed and the department’s three trucks moved in. As the decades marched on, new equipment and engines were added to the fleet,
            including enclosed trucks with windshields – greatly appreciated during cold Pennsylvania winters. Canonsburg, too, grew and many buildings were replaced through the
            1950s and 1960s. The fire house was extended by three bays to connect it to the newly constructed Municipal Building.<br /><br />
            
            In 1989, the agility test was implemented and firemen were required to carry a 50-foot length of hose up and down stairwells. To become an active duty fireman – 
            both then and now – passing the test is a requirement and can be completed by anyone 18 years or older.<br /><br />
            
            The apparatus roster now consists of a 1981 ALF 1500 GPM pumper, a 1988 Emergency-One Rescue, a 1990 Sutphen 1750 GPM pump, and a 2000 Ford pick-up. There are 34 firemen in
            the department with another 10 on the life-active roll. While the horses and bucket brigades are long gone, the manpower, community and sense of duty are just as thriving as
            they were in 1836.<br /><br />
        </p>
     </div>
</div>
{% endautoescape %}