<div class="panel panel-default">
     <div class="panel-heading">
        <h3 class="panel-title">Canonsburg Volunteer Fire Department</h3>
     </div>
     <div class="panel-body">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/O_rCGaDg070" allowfullscreen></iframe>
        </div>
        <h4 class="mc_subhead_2 mc_redvariant">Dedicated to Providing Fire Protection to the Residents of Canonsburg</h4>
        <p>
            &emsp;&emsp;The Canonsburg VFD provides fire and first responder’s coverage to the citizens of Canonsburg and surrounding communities.
            We conduct in home inspections, upon request, as well as fire prevention training for businesses within the borough.<br /><br />
            &emsp;&emsp;The department boosts some of the finest equipment available to answer fire calls and handle emergencies, 
            along with the best protective gear and breathing apparatus for our members. <br /><br />
            We respond to around 20 emergency calls a month.<br /><br />
        </p>
     </div>
</div>