{% autoescape true %}
<div class="panel panel-default">
     <div class="panel-heading">
        <h3 class="panel-title">Join Us</h3>
     </div>
     <div class="panel-body">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pzyo6O_6pPQ" allowfullscreen></iframe>
        </div>
        <h4 class="mc_subhead_2 mc_redvariant">Become a Canonsburg Volunteer Fire Fighter</h4>
        <p>
            &emsp;&emsp;We are always in need of new members (men or women are welcome). Anyone interested in learning more about membership is invited to visit
            us to speak to a member or call the department at <a href="tel:{{PHONE_RAW}}"><u>{{PHONE_READABLE}}</u></a> and leave a message. We train every Monday night from 7:00 pm to 9:00 pm at the fire department.
            Our department needs you and your community needs your help!<br /><br />
        </p>
        <h4 class="mc_subhead_2 mc_redvariant">Help us continue to do the important work we do and bring your volunteer spirit to the team.</h4>
        <h4 class="mc_subhead_1">To Join You Must:</h3>
        <ul>
            <li>Attend training</li>
            <li>Pass a medical physical</li>
            <li>Pass a physical agility test</li>
        </ul>
        <h4 class="mc_subhead_1">Benefits of Joining:</h3>
        <ul>
            <li>Life Insurance policy</li>
            <li>Additional Health and Accident Coverage</li>
            <li>An annual physical</li>
            <li>A close-knit family of members to grow and serve with</li>
            <li>Family events</li>
        </ul>
        <p>
            &emsp;&emsp;The alternative to a volunteer fire department is to have a total paid/career department, which could cost local taxpayers millions of dollars a year in new taxes.
            It is documented that as a whole, the Volunteer Fire Service in the Commonwealth saves local taxpayers over 10 billion dollars a year in local taxes.
        </p>       
     </div>
</div>
{% endautoescape %}