{% autoescape true %}
<div class="panel panel-default">
     <div class="panel-heading">
        <h3 class="panel-title">Personnel</h3>
     </div>
     <div class="panel-body">
        <center>
            <a href="images/hd-Canonsburg-Fire-Department-Personnel.jpg" data-gallery>
                <img src="images/hd-Canonsburg-Fire-Department-Personnel.jpg" alt="Logo" class="img-responsive img-thumbnail"><br />
            </a>
        <h4 class="mc_subhead_2">Line Officers</h4>
        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                <a href="images/TLawrence.jpg" title="Chief Lawrence, C. T. Jr. Member Since 06-Nov-78" data-gallery>
                    <img src="images/TLawrence.jpg" alt="" class="img-responsive img-thumbnail"/> 
                </a>
                <p>
                    Chief <br>
                    Lawrence, C. T. Jr.<br>
                    Member Since 06-Nov-78 
                </p> 
            </div>
            <div class="col-md-3 col-md-offset-2">
                <a href="images/member.jpg" title="1st Assistant Chief Solobay, T. J. Member Since 02-Oct-78" data-gallery>
                    <img src="images/member.jpg" alt="" class="img-responsive img-thumbnail"/> 
                </a>
                <p>
                    1st Assistant Chief <br>
                    Solobay, T. J.<br>
                    Member Since 02-Oct-78 
                </p>  
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                <a href="images/RhomeChief.jpg" title="2nd Assistant Chief Rhome, D. H. Member Since 12-May-78" data-gallery>
                    <img src="images/RhomeChief.jpg" alt="" class="img-responsive img-thumbnail"/> 
                </a>
                <p>
                    2nd Assistant Chief <br>
                    Rhome, D. H.<br>
                    Member Since 12-May-78 
                </p>  
            </div>
            <div class="col-md-3 col-md-offset-2">
                <a href="images/JLawrence.jpg" title="Captain Lawrence, J. Member Since 4-Feb-02" data-gallery>
                    <img src="images/JLawrence.jpg" alt="" class="img-responsive img-thumbnail"/>
                </a>
                <p>
                    Captain<br>
                    Lawrence, J.<br>
                    Member Since 4-Feb-02
                </p>  
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                <a href="images/Rhome.jpg" title="1st Lieutenant Rhome, Dale Member Since 05-May-86" data-gallery>
                    <img src="images/Rhome.jpg" alt="" class="img-responsive img-thumbnail"/> 
                </a>
                <p>
                    1st Lieutenant<br>
                    Rhome, Dale<br>
                    Member Since 05-May-86 
                </p>  
            </div>
            <div class="col-md-3 col-md-offset-2">
                <a href="images/Kuer.jpg" title="2nd Lieutenant Kauer, M. Member Since 1-Apr-13" data-gallery>
                    <img src="images/Kuer.jpg" alt="" class="img-responsive img-thumbnail"/>
                </a>
                <p>
                    2nd Lieutenant<br>
                    Kauer, M.<br>
                    Member Since 1-Apr-13
                </p>  
            </div>
        </div>
        <h4 class="mc_subhead_2">Members</h3>
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <a href="images/Nixon.jpg" title="Nixon, M. A. Member Since 07-Aug-78" data-gallery>
                    <img src="images/Nixon.jpg" alt="" class="img-responsive img-thumbnail"/>
                </a>
                <p>
                    Nixon, M. A.<br>
                    Member Since 07-Aug-78 
                </p>  
            </div>
            <div class="col-md-2">
                <a href="images/Flood.jpg" title="Flood, Keith A. Member Since 02-Oct-78" data-gallery>
                    <img src="images/Flood.jpg" alt="" class="img-responsive img-thumbnail"/> 
                </a>
                <p>
                    Flood, Keith A.<br>
                    Member Since 02-Oct-78 
                </p> 
            </div>
            <div class="col-md-2">
                <a href="images/member.jpg" title="Flood, Ken Member Since 05-Mar-79" data-gallery>
                    <img src="images/member.jpg" alt="" class="img-responsive img-thumbnail"/>
                </a>
                <p>
                    Flood, Ken<br>
                    Member Since 05-Mar-79 
                </p>  
            </div>
            <div class="col-md-2">
                <a href="images/member.jpg" title="Shultz, B. D. Member Since 02-Aug-82" data-gallery>
                    <img src="images/member.jpg" alt="" class="img-responsive img-thumbnail"/>
                </a>
                <p>
                    Shultz, B. D.<br>
                    Member Since 02-Aug-82 
                </p> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <a href="images/Fenimore.jpg" title="Fenimore, W. A. Member Since 01-May-89" data-gallery>
                    <img src="images/Fenimore.jpg" alt="" class="img-responsive img-thumbnail"/>
                </a>
                <p>
                    Fenimore, W. A.<br>
                    Member Since 01-May-89 
                </p> 
            </div>
            <div class="col-md-2">
                <a href="images/Congie.jpg" title="Congie, R. Member Since 3-Feb-97" data-gallery>
                    <img src="images/Congie.jpg" alt="" class="img-responsive img-thumbnail"/>
                </a>
                <p>
                    Congie, R.<br>
                    Member Since 3-Feb-97
                </p> 
            </div>
            <div class="col-md-2">
                <a href="images/Poloski.jpg" title="Poloski, W. M. Member Since 13-Sep-99" data-gallery>
                    <img src="images/Poloski.jpg" alt="" class="img-responsive img-thumbnail"/>
                </a>
                <p>
                    Poloski, W. M.<br>
                    Member Since 13-Sep-99
                </p>
                </div>
            <div class="col-md-2">
                <a href="images/Galbraith.jpg" title="Galbraith, S. Member Since 6-Mar-00" data-gallery>
                    <img src="images/Galbraith.jpg" alt="" class="img-responsive img-thumbnail"/>
                </a>
                <p>
                    Galbraith, S.<br>
                    Member Since 6-Mar-00
                </p>  
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <a href="images/Gasior.jpg" title="Gasior, C. Member Since 7-Apr-08" data-gallery>
                    <img src="images/Gasior.jpg" alt="" class="img-responsive img-thumbnail"/>
                </a>
                <p>
                    Gasior, C.<br>
                    Member Since 7-Apr-08
                </p>  
            </div>
            <div class="col-md-2">
                <a href="images/Smith.jpg" title="Smith, J. Member Since 7-Apr-08" data-gallery>
                    <img src="images/Smith.jpg" alt="" class="img-responsive img-thumbnail"/> 
                </a>
                <p>
                    Smith, J.<br>
                    Member Since 7-Apr-08
                </p> 
            </div>
            <div class="col-md-2">
                <a href="images/DaPra.jpg" title="DaPra, Brian Member Since 4-May-09" data-gallery>
                    <img src="images/DaPra.jpg" alt="" class="img-responsive img-thumbnail"/>
                </a>
                <p>
                    DaPra, Brian<br>
                    Member Since 4-May-09
                </p>
            </div>
            <div class="col-md-2">
                <a href="images/member.jpg" title="Clutter, M. Member Since 6-May-13" data-gallery>
                    <img src="images/member.jpg" alt="" class="img-responsive img-thumbnail"/>
                </a>
                <p>
                    Clutter, M.<br>
                    Member Since 6-May-13
                </p> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <a href="images/Dernoshek.jpg" title="Jarod Dernoshek Member Since 2-Feb-15" data-gallery>
                    <img src="images/Dernoshek.jpg" alt="" class="img-responsive img-thumbnail"/> 
                </a>
                <p>
                    Jarod Dernoshek<br>
                    Member Since 2-Feb-15
                </p> 
            </div>
            <div class="col-md-2">
                <a href="images/Inman.jpg" title="Jonathan Inman Member Member Since 4-Jan-16" data-gallery>
                    <img src="images/Inman.jpg" alt="" class="img-responsive img-thumbnail"/> 
                </a>
                <p>
                    Jonathan Inman<br>
                    Member Since 4-Jan-16
                </p>  
            </div>
        </div>
        <h4 class="mc_subhead_2">Life Members</h4>
        </center>
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <ul>
                    <li>Adamson, J. R., Member Since 30-Jan-50 </li>
                    <li>Berzinksy, B., Member Since 30-Mar-88  </li>
                    <li>Dunn, J. G., Member Since 06-Apr-81  </li>
                    <li>Kacvinsky, C. A. Sr., Member Since 07-Oct-57 </li>
                    <li>Cavasina, Dr. M. M., Member Since 05-Jan-62 </li>
                    <li>Colaizzo, A. L., Member Since 22-Jan-62 </li>
                    <li>Coleman, G. R. Jr., Member Since 01-Jun-65 </li>
                    <li>Coleman, H. M., Member Since 06-Jun-66 </li>
                    <li>Hutchinson, T. M., Member Since 05-Nov-84 </li>
                    <li>Hutchinson, G., Member Since 01-Jun-87 </li>
                    <li>Maslanik, J. M., Member Since 05-Dec-88 </li>
                    <li>Petronka, P., Member Since 06-Jun-66 </li>
                    <li>Reynolds, W. D., Member Since 06-Jan-75 </li>
                    <li>Rudge, R. C., Member Since 05-Jun-50 </li>
                    <li>Simms, R. G., Member Since 07-Nov-66 </li>
                    <li>Taylor, A., Member Since 02-Jul-84</li>
                </ul>
            </div>
        </div>
     </div>
</div>
{% endautoescape %}