{% autoescape true %}
<div class="panel panel-default">
    <div class="panel-heading">
       <h3 class="panel-title">Photo Gallery</h3>
    </div>
    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
    
    <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls">
        <div class="slides"></div>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="play-pause"></a>
    </div>

    <div class="panel-body">
        <h4 class="mc_subhead_2 mc_redvariant" style="text-align: center">Images of us and the Community we Come From</h4>
        <center>
        <div id="photoGalleryLinks">
           {% for number in range(1, PHOTO_GALLERY_SIZE) %}
            <a href="images/PhotoGallery/fullsize/Canonsburg-Fire-Department-{{ number }}.jpg" data-gallery>
                <img class="img-thumbnail img-responsive img_photoGallery" style="margin-bottom: 2px" src="images/PhotoGallery/thumbnails/Canonsburg-Fire-Department-{{ number }}.jpg">
            </a>
           {% endfor %}
        </div>
        </center>
    </div>
</div>
<script>
$( document ).ready(
    function() {
        window.setTimeout(
            function() {
                blueimp.Gallery(
                    document.getElementById('photoGalleryLinks').getElementsByTagName('a'),
                    {
                        container: '#blueimp-gallery-carousel',
                        carousel: true
                    }
                );
            }, 50);
    }
);
</script>
{% endautoescape %}