{% autoescape true %}
<div class="panel panel-default">
    <div class="panel-heading">
       <h3 class="panel-title">Photo Gallery</h3>
    </div>
    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
    <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls">
        <div class="slides"></div>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="play-pause"></a>
    </div>
    
    <div class="panel-body">
        <h4 class="mc_subhead_2 mc_redvariant" style="text-align: center">
            Images of us and the Community we Come From
            {% if ACCOUNT.admin == 1 %}
                <button style="float:right; padding: 2px 5px;" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#ImageUploadModal">Upload</button>
            {% endif %}
        </h4>
        <center>
        <div id="photoGalleryLinks">
           {% for photo in PHOTOS %}
            <a href="/Photo/{{ photo.full_size_image_key }}" title="{{ photo.title }}" data-gallery>
                <img class="img-thumbnail img-responsive img_photoGallery" style="margin-bottom: 2px" src="/Photo/{{ photo.full_size_image_key }}">
            </a>
           {% endfor %}
        </div>
        </center>
    </div>
    <div class="panel-footer" style="display: list-item;">
        {% if PREV  %}
            <a href="#" onclick="setContent('Static/PhotoGallery2?prev_cursor={{ PREV_CURSOR }}', 'page_PhotoGallery');" style="float:left;">< Previous Page</a>
        {% endif %}
        {% if NEXT  %}
            <a href="#" onclick="setContent('Static/PhotoGallery2?next_cursor={{ NEXT_CURSOR }}', 'page_PhotoGallery');" style="float:right;">Next Page ></a>
        {% endif %}
    </div>
</div>
<script>
$( document ).ready(
    function() {
        window.setTimeout(
            function() {
                blueimp.Gallery(
                    document.getElementById('photoGalleryLinks').getElementsByTagName('a'),
                    {
                        container: '#blueimp-gallery-carousel',
                        carousel: true
                    }
                );
            },
            50
        );
    }
);
</script>
{% endautoescape %}