<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/vendor/css/scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/vendor/Gallery-2.22.0/css/blueimp-gallery.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/kartik-v-bootstrap-fileinput/css/fileinput.min.css">
    <link rel="stylesheet" type="text/css" href="/css/social.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script type="text/javascript" src="/vendor/js/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/js/scrollbar.min.js"></script>
    <script type="text/javascript" src="/vendor/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/Gallery-2.22.0/js/blueimp-gallery.min.js"></script>
    <script type="text/javascript" src="/vendor/Gallery-2.22.0/js/jquery.blueimp-gallery.min.js"></script>
    <script type="text/javascript" src="/vendor/kartik-v-bootstrap-fileinput/js/plugins/canvas-to-blob.min.js"></script>
    <script type="text/javascript" src="/vendor/kartik-v-bootstrap-fileinput/js/plugins/purify.min.js"></script>
    <script type="text/javascript" src="/vendor/kartik-v-bootstrap-fileinput/js/plugins/sortable.min.js"></script>
    <script type="text/javascript" src="/vendor/kartik-v-bootstrap-fileinput/js/fileinput.min.js"></script>
    <script type="text/javascript" src="/js/state_management.js"></script>
    <script type="text/javascript" src="/js/main.js"></script> 
    <title>{{ SITE_NAME }}</title>
  </head>
  <body id="main"><br />
    {% include "modals_/image_upload_modal.html" ignore missing %}
    <div id="fb-root"></div>
    {% endautoescape %}
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    {% autoescape true %}
    
    {% include "main_/main_navbar.html" ignore missing %}
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 col-md-push-3" id="main_container">
                {% endautoescape %}
                    {{BODY}}
                {% autoescape true %}
            </div>
            <div class="col-md-3 col-md-pull-7 main_sidebar">
                {% include "main_/main_sidebar_left.html" ignore missing %}
            </div>
            <div class="col-md-2">
                {% include "main_/main_sidebar_right.html" ignore missing %}
            </div>
        </div>
    </div>
    {% include "main_/main_footer.html" ignore missing %}
  </body>
</html>
{% endautoescape %}
