<!-- Modal -->
<div id="ImageUploadModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <input id="photoGalleryImageUploadModal" name="input25[]" type="file" multiple class="file-loading">
        <script>
        $(document).on('ready', 
            function() {
                $("#photoGalleryImageUploadModal").fileinput(
                    {
                        theme: "themes/fa/fa.js",
                        uploadUrl: "{{PHOTO_UPLOAD_URL}}",
                        maxFilePreviewSize: 10240
                    }
                );
            }
        );
        </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>